#calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  height: 800px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.calculation-field {
  width: 300px;
  margin-top: 20%;
}

.answer {
  width: 287px;
  height: 50px;
  padding-right: 5px;
  font-size: 20px;
  text-align: right;
  color: #fff;
  background-color: rgb(83, 90, 114);
}

.numbers-and-symbols {
  width: 100%;
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.size {
  width: 24.3385%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  background-color: rgb(222, 217, 217);
}

.size:hover {
  background-color: #fff;
}

.zero {
  width: 48.7%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  background-color: rgb(222, 217, 217);
}

.zero:hover {
  background-color: #fff;
}

.orabg-bg {
  background-color: rgb(252, 117, 14);
}

.HomeContainer {
  width: 100%;
  height: 400px;
}

.Header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 8px;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  font-size: 20px;
}

.quoteContainer {
  width: 100%;
  height: 600px;
}

.quote {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
